<style>
    table, th, td {
        border: 1px solid black;
    }

</style>
<table>
  <tr class="button-row">
    <td>
      <%= button_to("drop", chits_path(column_num: 0)) %>
    </td>
    <td>
      <%= button_to("drop", chits_path(column_num: 1)) %>
    </td>
    <td>
      <%= button_to("drop", chits_path(column_num: 2)) %>
    </td>
    <td>
      <%= button_to("drop", chits_path(column_num: 3)) %>
    </td>
    <td>
      <%= button_to("drop", chits_path(column_num: 4)) %>
    </td>
    <td>
      <%= button_to("drop", chits_path(column_num: 5)) %>
    </td>
    <td>
      <%= button_to("drop", chits_path(column_num: 6)) %>
    </td>
  </tr>

  <% @game_state.each do |row| %>
    <tr class="gameboard-row">
      <td><%= row[0]%></td>
      <td><%= row[1]%></td>
      <td><%= row[2]%></td>
      <td><%= row[3]%></td>
      <td><%= row[4]%></td>
      <td><%= row[5]%></td>
      <td><%= row[6]%></td>
    </tr>
  <% end %>

</table>
