<style>
    table, th, td {
        border: 1px solid black;
    }

</style>
<h1>
  Connect 4
</h1>
<h2>
  <%= @message %>
</h2>
<table>
  <tr class="button-row">
    <td>
      <%= button_to("drop", chits_path(column_num: 0)) unless GameState.column_full?(0) %>
    </td>
    <td>
      <%= button_to("drop", chits_path(column_num: 1)) unless GameState.column_full?(1) %>
    </td>
    <td>
      <%= button_to("drop", chits_path(column_num: 2)) unless GameState.column_full?(2) %>
    </td>
    <td>
      <%= button_to("drop", chits_path(column_num: 3)) unless GameState.column_full?(3) %>
    </td>
    <td>
      <%= button_to("drop", chits_path(column_num: 4)) unless GameState.column_full?(4) %>
    </td>
    <td>
      <%= button_to("drop", chits_path(column_num: 5)) unless GameState.column_full?(5) %>
    </td>
    <td>
      <%= button_to("drop", chits_path(column_num: 6)) unless GameState.column_full?(6) %>
    </td>
  </tr>

  <% @board_state.each do |row| %>
    <tr class="gameboard-row">
      <td><%= row[0] %></td>
      <td><%= row[1] %></td>
      <td><%= row[2] %></td>
      <td><%= row[3] %></td>
      <td><%= row[4] %></td>
      <td><%= row[5] %></td>
      <td><%= row[6] %></td>
    </tr>
  <% end %>

</table>
